:root {
  --background-color: rgb(19, 19, 19);
  --text-color: rgb(213, 213, 213);
  --input-background: rgb(190, 45, 74);
  --sub-background-color: rgba(39, 39, 39, 0.315);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--background-color);
}

body {
  display: flex;
}

#side-logo {
  width: calc(35vw - 1px);
  background-image: url("frode-myklebust-DieicyVGTOA-unsplash.jpg");
  background-size: contain;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#logo {
  width: 100%;
  text-align: center;
  background-color: rgba(55, 53, 52, 0.185);
  height: 200px;
}

#logo-text {
  font-size: 5rem;
}

#form-content {
  background-color: var(--background-color);
  color: var(--text-color);
  width: calc(65vw - 1px);
}

#call-to-action {
  height: 20%;
  margin: 200px 0px 30px;
  padding-left: 40px;
  font-size: 1.5rem;
  line-height: 1.5;
}

em {
  color: var(--input-background);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#account-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  background-color: var(--sub-background-color);
  padding: 20px 1% 20px 40px;
  margin-bottom: 50px;
  margin-inline: 0;
}

#account-info > * {
  width: 100%;
}

.text-field-row {
  padding: 10px 0px;
  display: flex;
  gap: 20px;
}

.text-field {
  display: flex;
  width: 45%;
  flex-direction: column;
  font-size: 1.15rem;
  row-gap: 5px;
}

.text-field > input {
  width: 100%;
}

#submit {
  border: none;
  padding-left: 40px;
  margin-inline: 0;
}

button[type="submit"] {
  border-radius: 10px;
  height: 70px;
  width: 250px;
  background-color: var(--input-background);
  border: 2px var(--text-color) inset;
}

button[type="submit"]:active {
  border: 2px var(--text-color) outset;
}

input {
  background-color: var(--input-background);
  color: var(--text-color);
  font-size: 1rem;
}

.cta {
  width: 55ch;
}

#account-log-in {
  padding-left: 40px;
  font-size: 1.2rem;
}

a {
  color: var(--input-background);
}
